.search-box .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: blue;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-box .search:hover {
  cursor: pointer;
}
.search-box .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.search-box .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.search-box input {
  font-family: 'XBRoyaBold','Inconsolata', monospace;
  position: absolute;
  margin: auto;
  text-align: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: blue;
  color: white;
  text-shadow: 0 0 10px blue;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 blue, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
}
.search-box input:hover {
  cursor: pointer;
}
.search-box input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-box input:focus ~ .search {
  right: -250px;
  background: white;
  z-index: 6;
}
.search-box input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
  background-color: black;
}
.search-box input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: black;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-box input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
